.App {
  max-width:1200px;
  margin: 0 auto;
  background-color: #FCFAF2;
  font-family: "times","Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  color: #222222;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #222222;
  
}
/*Top,Work,Skill,Profileで共通*/
.contentStyle{
  /*width: 75%;*/
  background-color: #F0EFE0;
}
.headTitle {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*左に青線が入った見出し*/
.headLine{
  padding: 0.25rem 1rem;
  border-left: 10px solid #4EBCD4;
  font-weight: normal;
  margin: 5% 0;
}
