.App {
  background-color: #FCFAF2;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  color: #222222;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #222222;
  
}
/*Top,Work,Skill,Profileで共通*/
.contentStyle{
  width: 70%;
  background-color: #F0EFE0;
}
.headTitle {
  font-family: "times",Meiryo,sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 20px;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
